<div th:fragment="menu">
    <nav class="main-nav">
        <a th:href="@{/}">Home</a>
        <a th:href="@{/courses}">Courses</a>
        <a th:href="@{/instructors/view}">Instructors</a>
        <a th:href="@{/about}">About</a>
        <a th:href="@{/contact}">Contact</a>
        <a th:href="@{/help}">Help</a>
        <a th:href="@{/admin}">Admin</a>
        <a th:href="@{/profile}">Profile</a>
        <a th:href="@{/settings}">Settings</a>
        <a th:href="@{/logout}">Logout</a>
    </nav>
</div>
